@import '../../index.scss';

.cta {
  min-width: min-content;
  margin: $margin-xl 20% -120px 20%;
  text-align: center;
  padding: $margin-base $margin-xl;
  color: $white;
  background-color: $colorMain;
  border-radius: $margin-lg;
  position: relative;
}

.ctaText {
  margin-bottom: $margin-base;
}

.ctaCount {
  font-family: $fontDisplay;
  font-weight: bold;
  font-size: 1.4rem;
}

.ctaTypes {
  display: flex;
  justify-content: space-between;
}

.ctaButton {
  min-width: 150px;
  cursor: pointer;
  padding: $margin-base;
  border-radius: $margin-base;
  border: 3px solid $colorSecondary;

  >img {
    height: 60px;
    margin-bottom: $margin-sm;
  }

  >p {
    font-weight: bold;
  }

  &:hover {
    background-color: $colorSecondary;
  }
}