@import '../../index.scss';

.contactUs {
  width: 60%;
  margin: $margin-xxl auto;
  padding: $margin-lg;
  padding-bottom: $margin-sm;
  border-radius: $margin-base;
  background-color: $colorSecondary;
  text-align: center;

  h3 {
    color: $white;
    margin-bottom: $margin-base;
  }
}

.userInfo {
  display: flex;
  justify-content: space-between;
  gap: $margin-base;
  margin-bottom: $margin-base;

  .field {
    flex: 1 1 50%;
  }
}

.field {
  padding: $margin-sm;
  padding-left: 10px;
  border-radius: 10px;
  background: $white;
  box-shadow: $shadow;
  text-align: left;

}

input {
  display: block;
  outline: none;
  border: none;
  font-size: 1.2rem;
}

label {
  display: block;
  font-size: 0.8rem;
  margin-right: $margin-sm;
  font-weight: bold;
  color: $colorMain;
}

// remove standard styling of textarea + match font to inputs
textarea {
  width: 100%;
  min-height: 120px;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  margin-top: 2px;

  font-family: $fontRegular;
  font-size: 1.2rem;
}

#controlButton {
  height: 40px;
  padding: 0 30px;
  color: $white;
  background-color: $colorMain;
  position: relative;
  top: -20px;
  border: none;
  box-shadow: $shadow;
  font-weight: bold;
  font-size: 0.9rem;

  &:hover {
    background-color: $white;
    color: $colorMain;
    border: 4px solid $colorMain;
  }
}