@import './styles/variables.scss';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontRegular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.container {
  padding: $margin-lg $margin-xl;
}

.width60 {
  width: 60%;
}

.bg-gradient {
  width: 100vw;
  z-index: 0;
  background-image: linear-gradient(190deg, $colorAccent, $colorMain 60%);
}

h1 {
  font-size: 1.6rem;
  font-family: $fontDisplay;
}

h2 {
  color: $white;
  font-size: 1.8rem;
  font-family: $fontDisplay;
  margin-bottom: $margin-base;
  letter-spacing: 0.05rem;
}

h3 {
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn{
  width: max-content;
    padding: 8px 24px;
    margin: 0 auto;
  background-color: white;
  color: $colorMain;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: $shadow;
  border: 3px solid $colorMain;
    border-radius: $margin-base;

  &:hover {
    background-color: white;
    transform: scale(1.05);
  }
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: $margin-base;
}

.animals {
  padding-top: 180px;
}

.animal {
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  gap: $margin-lg;
}

.animal-info {
  display: flex;
  flex-direction: column;
  gap: $margin-lg;
}
.animalCards {
  display: flex;
  justify-content: space-between;
  gap: $margin-base;
  margin-bottom: $margin-lg;
  flex-wrap: wrap;
}

.translucent {
  background-color: rgba(255, 255, 255, 0.6);
}

.title {
  margin-left: $margin-lg;
}
.img-preview {
  width: 100px;
}

.img-list-icon {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;

  img {
    width: inherit;
    object-fit: cover;
    margin: auto;
    display: block;
  }
}

.slider {
  width: 60%;
  text-align: center;
}

.image {
  height: 60vh;
  overflow: hidden;

  >img {
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
  }
}